<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<script type="text/javascript" src="http://192.168.1.241:81/QjyJsDebuger.min.js"></script>!-->
    <script type="text/javascript" src="js/webui-min.js"></script>
    <title></title>
</head>

<body>

    <div id="leanback">
        <div id="app-markup">
            <div id="floatframe"></div>
            <div id="arrawtip" class="down"></div>
            <div id="background" class="background"></div>
            <div class="content-container-v">
                <div id="topbanner">
                    <div class="content">
                        <div class="content-container">
                            <div id="date" class="item">01.01.2019</div>
                            <div id="time" class="item">00:00</div>
                            <div id="network" class="item wired">&nbsp;</div>
                            <div id="settings" tabindex="-1" fm-left="-1" fm-right="-1" class="item">&nbsp;</div>
                            <div class="item spacer">&nbsp;</div>

                        </div>
                    </div>
                </div>
                <div id="usbdevice" style="display: none;height: 0px;">
                    <div class="title">Media Play</div>
                    <div class="content">
                        <div class="content-container"></div>
                    </div>
                </div>
                <div id="apps">
                    <div class="title">Apps</div>
                    <div class="content">
                        <div class="content-container"></div>
                    </div>
                </div>
                <div id="netflix">
                    <div class="content">
                        <div class="content-container"></div>
                    </div>
                </div>
                <div id="inputs">
                    <div class="title">Inputs</div>
                    <div class="content">
                        <div class="content-container"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</body>

</html>